/* ContactUsSection.module.css */
.contactUsSection {
    padding: 60px 20px;
    background-color: #ffffff;
    color: #333;
    text-align: center;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #666;
  }
  
  .contactContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  
  .contactInfo {
    flex: 1;
    max-width: 400px;
    /* background: #fff; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contactTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    /* color: #007bff; */
  }
  
  .contactDetail {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .contactDetail i {
    margin-right: 10px;
    font-size: 1.5rem;
    /* color: #007bff; */
  }
  
  .contactForm {
    flex: 2;
    max-width: 600px;
    /* background: #fff; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input, .textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input:focus, .textarea:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .textarea {
    resize: vertical;
  }
  
  .button {
    padding: 15px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  