.scheduleMeetingSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
    background: linear-gradient(to right, rgb(11, 147, 193), rgb(155, 20, 155), rgb(252, 171, 19));
    /* background: linear-gradient(to right, pink, orange, purple, yellow); */
    background-size: 400% 400%;
    animation: changeGradient 8s linear infinite;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
    /* max-width: 100%; */
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    text-align: center; 
    display: flex ;
    flex-direction: column;
    align-items: center;
  
}

@keyframes changeGradient {
0% {
    background-position: 0% 50%;
}
25% {
    background-position: 50% 50%;
}
50% {
    background-position: 100% 50%;
}
75% {
    background-position: 50% 50%;
}
100% {
    background-position: 0% 50%;
}
}
.scheduleMeetingSection:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.content {
    width: 90%;
    flex: 1;
    padding-right: 40px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: #fff;
}

.description {
    color: white;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 30px;
    line-height: 1.6;
}


.ctaButton {
    cursor: pointer;
    align-items: center;
    float: none; /* Remove the float */
    width: 30%;
    padding: 15px 30px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #007bff;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block; /* Change to block */
    margin: auto; /* Center the block */
    text-align: center;
}

.ctaButton:hover {
    background-color: orange;
    color: #fff;
}

.calendarPreview {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.previewCalendar {
    max-width: 100%;
    border: none;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {


    .title {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
        font-weight: 700;
        color: #fff;
    }

    .description {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 30px;
        line-height: 1.6;
    }

    .scheduleMeetingSection {
        flex-direction: column;
        align-items: center;
        padding: 30px 35px;
    }

    .ctaButton {
        width: 100%;
        text-align: center;
    }

    .content {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .calendarPreview {
        margin-top: 30px;
        justify-content: flex-start;
        width: 100%;
    }
}