/* Sidebar Styles */
.sidebar {
    position: fixed;
    left: -250px;
    top: 86px;
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    transition: left 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 1rem;
  }
  
  .open {
    left: 0;
  }
  
  .sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .sidebar__header h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #343a40;
  }
  
  .sidebar__close {
    font-size: 1.5rem;
    cursor: pointer;
    /* color: #343a40; */
  }
  
  .sidebar__list {
    list-style: none;
    padding: 0;
  }
  
  .sidebar__item {
    margin-bottom: 1rem;
  }
  
  .sidebar__item a {
    text-decoration: none;
    color: #343a40;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  
  .sidebar__item a i {
    margin-right: 0.5rem;
  }
  
  .sidebar__toggle {
    position: fixed;
    top: 1rem;
    left: 1rem;
    /* background-color: #343a40; */
    /* color: #fff; */
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar__toggle i {
    font-size: 1.5rem;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .sidebar__toggle {
        top: 0.4rem;
        left: 0.2rem;
    }
    .sidebar {
     top: 60px;
      width: 200px;
    }
  
    .sidebar__item a {
      font-size: 0.875rem;
    }
  }
  