.login{
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    padding: 8rem 1.5rem 5rem;
    transition: opacity .4s;
    justify-content: center;
    align-items: center;
}
/* .marginCustom{
    margin-top: 17rem !important;

} */

.error{
  color:  red;
  text-align: left;
}

.disabled {
  background-color: grey; /* Apply grey background when disabled */
  cursor: not-allowed; /* Optional: Change cursor to not-allowed */
  opacity: 0.7; /* Optional: Reduce opacity when disabled */
}

.login__google{
  align-items: center;
}

textarea {
  height: 5rem;
  resize: vertical;
}

.toggle__container {
  display: flex;
  background-color: #f0f0f0;
  border-radius: 25px;
  padding: 5px;
  width: fit-content;
  margin: auto;
}

.toggle__button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.toggle__button.active {
  background: linear-gradient(45deg, #7b3fe4, #e34f9e);
  color: white;
}



textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.login__checkbox {
  margin-right: 8px;

}
.login__or{
  font-weight: 600;
}

.login__agreement {
  padding: 20px 0px;
  display: flex;
  /* align-items: center; */
  /* margin-bottom: 16px; */
  font-size: 14px;
  color: #666;
}

.login__agreement a {
  color: #000;
  text-decoration: underline;
  margin-left: 4px;
}

  
  .login__form, 
  .login__group {
    display: grid;
  }
  
  .login__form {
    width: 30em;
    background-color: var(--container-color);
    padding: 2rem 1.5rem 2.5rem;
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
    border-radius: 1rem;
    row-gap: 1.25rem;
    text-align: center;
    transform: translateY(-1rem);
    transition: transform .4s;
  }

  .google__icon {
    height: 20px;
    margin-right: 8px; /* Space between icon and text */
    vertical-align: middle; /* Align icon vertically with text */
  }
  
  .login__google {
    /* margin-bottom: 15px; */  
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
  }
  
  
  .login__title {
    margin: 0;
    background: linear-gradient(to right, rgb(11, 147, 193), purple, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2rem;
  }
  
  .login__group {
    row-gap: 1rem;
  }
  
  .login__label {
    display: block;
    text-align: initial;
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
  }
  
  .login__input {
    width: 100%;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    padding: 1rem;
    border-radius: .5rem;
    color: var(--text-color);
  }
  
  .login__input::placeholder {
    color: var(--text-color);
  }

  .auth__logo{
    margin: auto;
    height: 23px;
  }
  
  .login__signup {
    margin: .9rem;
  }
  
  .login__signup a {
    color: var(--first-color);
  }
  
  .login__forgot {
    float: right;
    /* display: inline-block; */
    color: var(--first-color);
    margin-bottom: 1.25rem;
  }
  
  .login__button {
    display: inline-block;
    /* background-color: var(--first-color); */
    background: linear-gradient(to right, #6660FB, #FC4D53);
    width: 100%;
    color: #fff;
    font-weight: var(--font-semi-bold);
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: box-shadow .4s;
  }
  
  .login__button:hover {
    box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
  }
  

  .socialSignup {
    margin-top: 1rem;
    text-align: center;
  }
  
  .socialSignup__title {
    color: var(--text-color);
    margin-bottom: .5rem;
  }
  
  .socialSignup__button {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: inline-block;
    color: red;
    /* background-color: var(--first-color); */
    border: none;
    padding: .5rem 2rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    cursor: pointer;
    transition: background-color .3s;
  }
  

  
  .socialSignup__button i {
    margin-right: .5rem;
  }

  @media screen and (max-width: 768px) {
    .login {
      padding: 5rem 1.5rem 5rem;
    }
    
  }