.digitalProfileContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding: 2rem;
  margin-top: 75px; 

}
.qrCodeContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrCodeContainer p {
  margin-bottom: 10px;
}

@media screen and (max-width: 850px) {
  .profileCard{
    margin: -30px;
    width: 700px;
  }
}


.profileCard {
  height: 100%;
  width: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  
}

.profileCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.profileCard .profileHeader {
  background-image: url('../../img/R.jpg'); /* Replace with the actual path to your image */
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  height: 200px;
}

 

.logo{
height: 90px;
padding: 20px;
}


.profileinfo{
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word; 
  white-space: normal;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.profilePic {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}
.relative{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 200px;
  margin-top: 160px;
  /* bottom: -120px; */
}
.profilePicPlaceholder {
  width: 150px;
  position: absolute;
  display: flex;
  flex-direction: column ;
  align-items: center;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-color: transparent;
  /* border: 2px solid #ddd; */
}

.profileAbout{
  overflow-wrap: break-word; 
  text-align: left !important;
  /* padding: 15px; */
  font-size: 15px;
}
.titleText{
  padding: 0px 20px;
  font-weight: 600;
  font-size: 1.2rem;
}

.name {
  /* width: 150% !important; */
  text-align: center !important;
  overflow-wrap: break-word !important;
  white-space: normal;   
  font-size: 1.1rem ! important;
  font-weight: bold !important;
}

.profileTitle{
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: -70px;
  width: 200px;
}

.position{
  max-width: 100%;
  padding: 8px;
  overflow-wrap: anywhere;
  word-break: break-all;  
  white-space: normal;     
  text-align: center; 
  display: flex;
  justify-content: center;
  font-size: 0.9rem !important;
  font-weight: 500;
}

.contactInfo {
  margin-top: 20px;
  margin-bottom: 10px;
}

.contactInfo p {
  margin: 5px 20px;
  font-size: 0.8em;
  word-break: break-all ;
}

.profileBody{
    margin-top: 170px;
}



.bio {
  word-wrap: break-word;
  font-size: 0.9em;
  line-height: 1.5;
  margin: 20px;
  color: #0f0b0b;
}

.socialIcons {
  margin-top: 20px; 
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  padding-top: 20px;
  padding-bottom: 50px;
  border-top: 1px solid #ddd;
  transition: transform 0.3s ease;
}

.socialIcons a {
  color: #555; 
  transition: color 0.3s;
}

.icon:hover {
  height: 40px;
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  transition-duration: 0.5s;
}
 
.icon{
  height: 30px; 
} 
.cardActionscontent{ 
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
  
}
.cardActions {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  gap: 0px;
  margin-bottom:50px;
}

.actionButton {
  margin: 10px;
  padding: 7px;
  width: 50px;
  height: 50px;
  font-size: 1em;
  color: #fff;
  background-color: #667eea;
  border: none;
  border-radius: 50%; /* Keeps the button round initially */
  cursor: pointer;
  overflow: hidden; /* Ensures that the text is hidden initially */
  /* display: flex;
  justify-content: center; */
  align-items: center;
  transition: width 0.6s ease, border-radius 0.3s ease; /* Smooth transition for width and border-radius */
}

.actionButton:hover {
  /* width: 160px; 
  border-radius: 20px; 
  padding: 15px 20px;  */
  background-color: #8398f5;

}

.actionButton i{
  padding: 3px;
}

.actionButton span {
  display: none;
  transition: display 0.3s ease;
}

.actionButton:hover span {
  display: inline;
}

/* 
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.modalContent h2 {
  margin-bottom: 20px;
}

.modalContent input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalContent button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.modalContent button:hover {
  background-color: #0056b3;
} */



.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.shareLinkInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.copyButton,
.shareButton,
.closeButton {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copyButton {
  /* background-color: #4caf50; */
  color: rgb(0, 13, 255);
}

.shareButton {
  background-color: #008cba;
  color: white;
}

.closeButton {
  background-color: #f44336;
  color: white;
}

.recipientInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.receivedCardDate{
  color: rgb(23, 118, 4);
}



.receivedCardsSection {
  max-height: 550px; 
  overflow-y: auto;
  width: 400px;
  /* background: #f9f9f9; */
  /* border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  padding: 30px;
}

.receivedCard {
  margin-top: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  /* border: 2px solid #ddd; */
  border-radius: 8px;
  background: #fff;
}

.receivedCardPic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 10px;
}

.receivedCardDetails {
  display: flex;
  flex-direction: column;
}

.receivedCardName {
  font-size: 16px;
  font-weight: bold;
}

.showDetailsButton {
  left: 0;
  padding-left: 0 !important;
  margin-top: 5px;
  padding: 5px 10px;
  /* background: #007bff; */
  color: blue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.showDetailsButton:hover {
  /* background: #0056b3; */
  color: blue;
}

.styledQRCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: white; */
  padding: 0px;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  margin-top: 20px;
}

.qrHeader {
  text-align: center;
  margin-bottom: 10px;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.status {
  font-size: 1rem;
  color: #4CAF50; /* Green for active status */
}

.qrFooter {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
}

.downloadButton {
  margin-top: 20px;
  padding: 10px 20px;
  /* background-color: #4CAF50; */
  color: rgb(0, 64, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.emailButton {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .digitalProfileContainer{
    margin-top: 0px;
    gap: 50px;
    }
  .profileCard {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .digitalProfileContainer {
    flex-direction: column;
    align-items: center;
  }

  .receivedCardsSection {
    max-height: 550px; 
    overflow-y: auto;
    width: 100%;
    /* background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    padding: 30px;
  }

  .receivedCard{
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  .receivedCardsSection h2{
    padding-top: 30px;
  }

  .receivedCardDetails{
    font-size: small;
  }
  
  .receivedCardName{
    font-size: 0.8rem;
  }

  .cardActions {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* margin-top: 20px; */
  }

  .bio{
    word-wrap: break-word;
    text-align: justify;
  }

}
