.digitalProfileContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-top: 75px;
}

.profileCard {
  width: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.profileCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.profileHeader {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.profilePic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  margin-bottom: 10px;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.contactInfo {
  margin-bottom: 10px;
}

.contactInfo p {
  color: #eee;
  margin: 5px 0;
}

.bio {
  font-size: 0.9em;
  line-height: 1.5;
  margin: 20px;
  color: #333;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.socialIcons a {
  font-size: 1.9em;
  color: #555;
  transition: color 0.3s;
}

.socialIcons a:hover {
  color: #000;
}

.cardActions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.actionButton {
  margin: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
  font-size: 1em;
  color: #fff;
  background-color: #667eea;
  border: none;
  border-radius: 50%; /* Keeps the button round initially */
  cursor: pointer;
  overflow: hidden; /* Ensures that the text is hidden initially */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.6s ease, border-radius 0.3s ease; /* Smooth transition for width and border-radius */
}

.actionButton:hover {
  width: 160px; /* Expanded width to fit the text */
  border-radius: 20px; /* Adjusts the border-radius to make it less round and more like a traditional button */
  padding: 15px 20px; /* Adjust padding if needed */
}

.actionButton span {
  display: none;
  transition: display 0.3s ease;
}

.actionButton:hover span {
  display: inline;
}

@media (max-width: 768px) {
  .profileCard {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .digitalProfileContainer {
    flex-direction: column;
    align-items: center;
  }

  .cardActions {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* margin-top: 20px; */
  }

}
