.teamManagementContainer {
    margin-top: 80px;
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .formContainer {
    background: #fff;
    flex: 1;
    max-width: 600px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formContainer h2 {
    margin-bottom: 20px;
    color: #343a40;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 1rem;
    font-size: 1em;
    color: #666;
  }
  
  .input,
  .button {
    width: 100%;
    padding: 10px;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  
  .buttonSaveProfile {
    margin-top: 20px;
    background: linear-gradient(to right, #6660FB, #FC4D53);
    width: 100%;
    color: #fff;
    font-weight: var(--font-semi-bold);
    padding: 1rem;
    border-radius: 5rem; /* Ensure this is set */
    cursor: pointer;
    text-align: center; 
    transition: transform 0.3s ease;
  }
  
  .buttonSaveProfile:hover {
    background: linear-gradient(to right, #7773fc, #f5676b);
    border-radius: 5rem; 
  }
  .listContainer {
    flex: 2;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 600px; /* Set a max height for the list container */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .listContainer h2 {
    margin-bottom: 20px;
    color: #343a40;
  }
  
  .employeeList {
    list-style-type: none;
    padding: 0;
  }
  
  .employeeItem {
    background: linear-gradient(135deg, #e3ebf8 0%, #d0d1fd 33%, #e8d2fc 66%, #f8dac7 100%);
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .employeeInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .actionIcons {
    color: #007bff;

    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  
  .actionIcons i:hover {
    color: #007bff;
  }
  