.userProfileContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-top: 75px;
}

.formContainer {
  background: #fff;
  flex: 1;
  max-width: 600px;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5em;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 1rem;
  font-size: 1em;
  color: #666;
}

.input,
.textarea,
.button {
  width: 100%;
  padding: 10px;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.textarea {
  height: 5rem;
  resize: vertical;
}

.button {
  padding: 0.75rem 1rem;
  font-size: 1em;
  color: #fff;
  background-color: hsl(230, 75%, 56%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.5rem;
}

.button:hover {
  background-color: hsl(230, 79%, 61%);
}
