/* HowItWorksSection.module.css */
.howItWorksSection {
    padding: 60px 20px;
  }
  
  .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  .steps {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .stepCard {
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .stepCard:hover {
    background: linear-gradient(to right, rgb(11, 147, 193), purple, orange);
    -webkit-background-clip: text;
    color: transparent;
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
  
  .stepNumber {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .stepTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .stepDescription {
    font-size: 1rem;
    color: #666;
  }
  
  /* Responsive Design */
  @media (min-width: 768px) {
    .steps {
      flex-direction: row;
    }
  }
  